nextflow.enable.dsl=2

manifest {

  name = 'metabarcoding-wf'
  author = 'Thomas Deschênes'
  description = 'Automatic metabarcoding data treatment'
  mainScript = 'main.nf'

}

params {

    output = ''
    input = ''
    kraken2_db = '/Users/thomas/Documents/bioinformatics/software/metabarcoding-wf/database/ncbi_targeted_loci_16S_18S_kraken2'
    pr2_18s_db = '/Users/thomas/pr2_version_5.1.0_euk_18S_only.fasta'

    amplicon_length = ''
    fwd_primer_length = ''
    rev_primer_length = ''

    blast_docker = 'quay.io/biocontainers/blast:2.16.0--h66d330f_5'
    blast_singularity = 'https://depot.galaxyproject.org/singularity/blast%3A2.16.0--h66d330f_5'

    cutadapt_docker = 'quay.io/biocontainers/cutadapt:5.0--py39hbcbf7aa_0'
    cutadapt_singularity = 'https://depot.galaxyproject.org/singularity/cutadapt%3A5.0--py39hbcbf7aa_0'

    figaro_docker = 'quay.io/biocontainers/figaro:1.1.2--hdfd78af_0'
    figaro_singularity = 'https://depot.galaxyproject.org/singularity/figaro%3A1.1.2--hdfd78af_0'

    dada2_docker = 'quay.io/biocontainers/bioconductor-dada2:1.30.0--r43hf17093f_0'
    dada2_singularity = 'https://depot.galaxyproject.org/singularity/bioconductor-dada2%3A1.30.0--r43hf17093f_0'

    fastqc_docker = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    fastqc_singularity = 'https://depot.galaxyproject.org/singularity/fastqc%3A0.12.1--hdfd78af_0'
      
    kraken_docker = 'quay.io/biocontainers/kraken2:2.1.3--pl5321hdcf5f25_0'
    kraken_singularity = 'https://depot.galaxyproject.org/singularity/kraken2%3A2.1.3--pl5321hdcf5f25_0'

    krakentools_docker = 'quay.io/biocontainers/krakentools:1.2--pyh5e36f6f_0'
    krakentools_singularity = 'https://depot.galaxyproject.org/singularity/krakentools%3A1.2--pyh5e36f6f_0'

    magicblast_docker = 'quay.io/biocontainers/magicblast:1.7.0--hf1761c0_0'
    magicblast_singularity = 'https://depot.galaxyproject.org/singularity/magicblast%3A1.7.0--hf1761c0_0'

    seqtk_docker = 'quay.io/biocontainers/seqtk:1.4--he4a0461_2'
    seqtk_singularity = 'https://depot.galaxyproject.org/singularity/seqtk%3A1.4--he4a0461_2'

}

profiles {

  test {
    includeConfig 'conf/test.config'
  }
	
  docker {
    docker.enabled = true
  }
  
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
  
  hpc {
    process.cpus = '16'
  }
  
  local {
    process.cpus = '4'
  }

}
