nextflow.enable.dsl=2

manifest {

  name        = 'pate'
  author      = 'Thomas Deschênes'
  description = 'pipeline for amplicon data treatment in microbial ecology'
  mainScript  = 'main.nf'

}

params {

    output     = ''
    input      = ''
    kraken2_db = ''
    pr2_18s_db = ''

    blast_container       = 'quay.io/biocontainers/blast:2.16.0--h66d330f_5'
    cutadapt_container    = 'quay.io/biocontainers/cutadapt:5.0--py39hbcbf7aa_0'
    dada2_container       = 'quay.io/biocontainers/bioconductor-dada2:1.30.0--r43hf17093f_0'
    fastqc_container      = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    figaro_container      = 'quay.io/biocontainers/figaro:1.1.2--hdfd78af_0'
    kraken_container      = 'quay.io/biocontainers/kraken2:2.1.3--pl5321hdcf5f25_0'
    krakentools_container = 'quay.io/biocontainers/krakentools:1.2--pyh5e36f6f_0'
    magicblast_container  = 'quay.io/biocontainers/magicblast:1.7.0--hf1761c0_0'
    multiqc_container     = 'quay.io/biocontainers/multiqc:1.33--pyhdfd78af_0'
    seqtk_container       = 'quay.io/biocontainers/seqtk:1.4--he4a0461_2'

}

profiles {

  docker {
    docker.enabled         = true
    conda.enabled          = false
    singularity.enabled    = false
    apptainer.enabled      = false
    docker.runOptions      = '-u $(id -u):$(id -g)'
  }
  singularity {
    singularity.enabled    = true
    singularity.autoMounts = true
    conda.enabled          = false
    apptainer.enabled      = false
    docker.enabled         = false
    singularity.cacheDir   = "${projectDir}/singularity_cache"
  }
  apptainer {
    apptainer.enabled      = true
    apptainer.autoMounts   = true
    conda.enabled          = false
    docker.enabled         = false
    singularity.enabled    = false
    singularity.cacheDir   = "${projectDir}/apptainer_cache"
  }
  test {
    includeConfig "${projectDir}/conf/test.config"
  }

}
